/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

/* --------- */

.loader {
  font-size: 24px;
  color: #0d0080;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}

.loader:after {
  content: 'Loading';
  position: relative;
  z-index: 5;
}

.loader:before {
  content: '';
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: linear-gradient(#FF3D00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto
  }
}
/* --------- */


.container{

  width: 100%;

}
.form-input{
margin: 20px 50px;
}
.input-query{
width: 236px;
  height: 22px;
  border: 1px solid #808080;
    border-radius: 4px;
  padding: 8px 16px;
  font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
}
.input-query:hover{
    border: 1px solid #000;
}

.input-query:active{
  border: 1px solid #4e75ff;
}

#btn-submit{
background: #4e75ff;
border-radius: 8px;
border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}
#btn-submit:hover{
  background: #6c8cff;
}
